
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("bg-image.jpg");
    background-size: cover;
}

#app {
    max-width: 600px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.fa-trash-o {
    cursor: pointer;
    font-size:78px;
    color:red;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 10px 0 0 10px ;
}